
      button {
       background: #ff9900; /* Цвет фона */
       padding: 7px 30px; /* Поля вокруг текста */
       font-size: 13px; /* Размер шрифта */
       font-weight: bold; /* Насыщенность шрифта */
       color: #000000; /* Цвет шрифта */
       text-align: center; /* Надпись на кнопке по центру */
       border: solid 1px #000000; /* Параметры рамки кнопки */
       cursor: pointer; /* Изменение вида курсора при наведении*/

     }
     img {
       -o-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
       -webkit-transition: all 0.5s ease-in-out;
       transition: all 0.5s ease-in-out;
     }
     html, body {
       height: 100%;
       transition: all 0.5s ease-in-out;
     }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }

    #lang {
    	position: absolute;
    	left: 50%;
    	top: 55px;
    	margin-left: -435px;
    }
